<% @title = 'Contact Information for Thousand Oaks Chinese School' %>
      <h3>Thousand Oaks Chinese School could be contacted through the following ways:</h3>
      <ul>
          <li>Web Site: <a href="http://www.to-cs.org">http://www.to-cs.org</a></li>
          <li>By Mail: P.O. Box 6775, Thousand Oaks, CA 91362</li>
          <li>By Phone (Voice Mail Only): (818) 636-6107</li>
          <li>Email:
              <ul>
                  <li>
                      Principal: <a href="mailto:tocs-principal@to-cs.org">tocs-principal@to-cs.org</a>
                  </li>
                  <li>
                      Registration questions: <a href="mailto:registration@to-cs.org">registration@to-cs.org</a>
                  </li>
                  <li>
                      Technical issues with web site: <a href="mailto:engineering@to-cs.org">engineering@to-cs.org</a>
                  </li>
                  <li>
                      Privacy policy and concerns: <a href="mailto:privacy@to-cs.org">privacy@to-cs.org</a>
                  </li>
              </ul>
          </li>
      </ul>
