<% @title = 'Student Registration' %>

<h3>Registration For:</h3>
<table border="0px">
  <tr>
    <td></td>
    <td></td>
    <td>Current Grade</td>
    <td>Next Grade</td>
    <td>Select Elective Class</td>
  </tr>
</table>
