<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <link href="https://register.to-cs.org/stylesheets/layout.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    .account-form div {margin: 0.5em 0;}
    .tuition-detail td {width: 5em;float: left;text-align: right;}
    .tuition-detail .label {width: 25em;float: left;font-weight: bold;text-align: right;margin-right: 0.5em;}
    .account-form fieldset {background: #efe;}
    .account-form legend {color: #dfd;background: #00853f;font-family: sans-serif; padding: 0.2em 1em;}
  </style>
</head>
<body>
<div>Dear Accounting Staff,</div>
<div>A withdraw request has been made by <%= @withdraw_request.request_by.name %> and approved by <%= @withdraw_request.status_by.name %>, please login system to check details.</div>
<br>
Regards,
Thousand Oaks Chinese School
</body>
</html>

