<% @title = 'Refund Full Registration Payment' %>

<h2 style="color: red;">
  WARNING - this should only be used to correct transactional problems where 
  duplicated charges were submitted for the same student.  Refund processed by 
  this form would not change the registration status of the student.
</h2>

<div class="account-form">

  <% form_tag do %>
    <fieldset>
      <legend>Refund Full Registration Payment</legend>
      <span class="register">
        <div>
          <label for="reference_number">Reference Number:</label>
          <%= text_field_tag :reference_number, params[:reference_number] %>
        </div>
        <div>
          <label for="paid_by">Paid By (person_id):</label>
          <%= text_field_tag :paid_by, params[:paid_by] %>
        </div>
        <div>
          <%= submit_tag 'Refund', :class => 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
