<% @title = 'Request Password Reset' %>

<div class="account-form">

  <% form_tag do %>
    <fieldset>
      <legend>Request Password Reset</legend>
      <span class="signin">
        <div>
          <label for="username">Username:</label>
          <%= text_field_tag :username, params[:username] %>
        </div>
        <div>
          <%= submit_tag 'Submit', :class => 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
