<% @title = 'People' %>

<table id="jquery-datatable" border="1px">
  <thead>
    <tr>
      <%= render :partial => 'person_tablehead' %>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| -%>
    <tr>
      <%= render :partial => 'person', :object => person %>
      <td><%= link_to 'More Details', :action => :show, :id => person.id %></td>
    </tr>
    <% end %>
  </tbody>
</table>
