      <% student = student_sign_up %>
      <% existing_signups = student.find_all_track_event_signups_as_students %>
      <td><%=h student.name %></td>
      <td><%=h student.gender %></td>
      <td><%=h student.birth_info %></td>
      <% @track_event_programs.each do |track_event_program| %>
        <%= display_selector_based_on_program_type track_event_program, student.id, school_class_id, existing_signups %>
      <% end %>
