<% @title = 'Track Event Sign Up' %>
<% @page_javascript = 'activity/track_events/sign_up' %>

<%= link_to 'Printable Form', {:controller => '/activity/track_events', :action => 'printable_sign_up_form', :id => @school_class}, {:class => 'button'} %>
<br/>
<br/>

<table border="1px">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Gender</th>
      <th>Birth Month</th>
      <% @track_event_programs.each do |track_event_program| %>
        <th><%=h track_event_program.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @school_class.students.each do |student| -%>
    <tr>
      <%= render :partial => 'student_sign_up', :object => student, :locals => {:school_class_id => @school_class.id} %>
    </tr>
    <% end %>
  </tbody>
</table>
