<% @title = 'Track Event Sign Up Result' %>

<div style="background-color:#ADE7FF;">Boy / Dad</div>
<div style="background-color:#FDC5FF;">Girl / Mom</div>
<br/>

<% unless @young_students.empty? %>
    <table class="track-event-sign-up" border="1px">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Gender</th>
          <th>School Age</th>
          <% @young_student_programs.each do |track_event_program| %>
              <th><%=h track_event_program.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @young_students.each do |student| -%>
          <tr>
            <%= render partial: 'student_sign_up_result', locals: {student: student, track_event_programs: @young_student_programs, school_class_id: @school_class.id} %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/><br/><br/>
<% end %>

<% unless @teen_students.empty? %>
    <table class="track-event-sign-up" border="1px">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Gender</th>
        <th>School Age</th>
        <% @teen_student_programs.each do |track_event_program| %>
            <th><%=h track_event_program.name %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @teen_students.each do |student| -%>
          <tr>
            <%= render partial: 'student_sign_up_result', locals: {student: student, track_event_programs: @teen_student_programs, school_class_id: @school_class.id} %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br/><br/><br/>
<% end %>
