/* Global styles */

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

select {
  font-size: 14px;
}


#top-bar {
    padding-bottom: 4ex;
}

#side-bar {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 12em;
    background: #141;
}

#side-bar .welcome-text {
    color: #bfb;
}

#side-bar a {
    color: #bfb;
    font-size: small;
}

#main {
    margin-left: 13em;
    padding-left: 2em;
    background: white;
}

#flash-notice {
    color: red;
    font-weight: bold;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
  /* display: table; */
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 14px;
  list-style: square;
}

.account-form fieldset {
    background: #efe;
}

.account-form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.account-form select, .account-form input {
    margin-left: 0.5em;
}

.account-form div {
    margin: 0.5em 0;
}

.signin label {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.signin .submit {
    margin-left: 9em;
}

.register-link a {
    margin-left: 1em;
    color: green;
}

.register-link a:hover {
    background: white;
    color: red;
}

.change-password label {
    width: 14em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.change-password .submit {
    margin-left: 19em;
}

.register label {
    width: 14em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.register .submit {
    margin-left: 19em;
}

.person-edit label {
    width: 12em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.person-edit .submit {
    margin-left: 15em;
}

.school-class-edit label {
    width: 9em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.school-class-edit .submit {
    margin-left: 12em;
}

.school-year-edit label {
    width: 20em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.school-year-edit .submit {
    margin-left: 18em;
}

.details-table td {
    text-align: center;
}

.person-detail .label {
    width: 15em;
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
}

#add-instructor-assignment {
    padding-left: 16em;
}

.student-list-header {
    border: 0px;
    width: 100%;
}

.student-list-header td {
    font-size: larger;
    font-weight: bold;
}

.student-list-header .room-parent-cell {
    text-align: right;
}

.registration-options-table td {
    width: 9em;
    height: 2em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.registration-options-table .checkbox {
    width: 2em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.tuition-detail td {
    width: 5em;
    float: left;
    text-align: right;
}

.tuition-detail .label {
    width: 25em;
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
}

.payment-entry label {
    width: 11em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.payment-entry .submit {
    margin-left: 15em;
}

.transaction-history-table td {
    width: 12em;
    height: 2em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.manual-transaction-edit label {
    width: 12em;
    float: left;
    text-align: right;
    margin-right: 0.4em;
    display: block;
}

.manual-transaction-edit .submit {
    margin-left: 18em;
}

.manual-transaction-detail td {
    width: 10em;
    float: left;
    text-align: right;
}

.manual-transaction-detail .label {
    width: 13em;
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
}

.registration-options-class-assignment-table td {
    width: 12em;
    height: 2em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
