/* Global styles */

h1 {
    font:  150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
}

#top-bar {
    padding-bottom: 4ex;
}

#side-bar {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 12em;
    background: #141;
}

#side-bar .welcome-text {
    color: #bfb;
}

#side-bar a {
    color: #bfb;
    font-size: small;
}

#main {
    margin-left: 13em;
    padding-left: 2em;
    background: white;
}

#flash-notice {
    color: red;
    font-weight: bold;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.account-form fieldset {
    background: #efe;
}

.account-form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.account-form select, .account-form input {
    margin-left: 0.5em;
}

.account-form div {
    margin: 0.5em 0;
}

.signin label {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.signin .submit {
    margin-left: 8em;
}

.register-link a {
    margin-left: 1em;
    color: green;
}

.register-link a:hover {
    background: white;
    color: red;
}

.change-password label {
    width: 14em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.change-password .submit {
    margin-left: 17em;
}

.register label {
    width: 14em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.register .submit {
    margin-left: 17em;
}

.new-family label {
    width: 11em;
    float: left;
    text-align: right;
    margin-right: 0.1em;
    display: block;
}

.new-family .submit {
    margin-left: 14em;
}

.details-table td {
    text-align: center;
}
