<h3>Activity Officer Resources</h3>

<br/>
<%= link_to "Download Fire Drill Form", {:controller => '/activity/forms', :action => 'fire_drill_form', :format => 'pdf'}, {:class => 'button'} %>
<br/>

<br/>
<hr/>
