<h3>Communication Officer Resources</h3>

<br/>
<%= link_to 'Download Picture Taking Form', {:controller => '/communication/forms', :action => 'picture_taking_form', :format => 'pdf'}, {:class => 'button'} %>
<br/>
<br/>
<hr/>
