<h3>Communication Officer Resources</h3>

<br/>
<%= link_to 'Download Picture Taking Form', {:controller => '/communication/forms', :action => 'picture_taking_form', :format => 'pdf'}, {:class => 'button'} %>
<br/>
<br/>
<%= link_to 'Download Student List For Yearbook CSV', {:controller => '/communication/forms', :action => 'student_list_for_yearbook', :format => 'csv'}, {:class => 'button'} %>
<br/>

<br/>
<hr/>
