<h3>Communication Officer Resources</h3>

<br/>
<%= link_to 'Download Printable Student List By Class', {:controller => '/registration/student_class_assignments', :action => 'student_list_by_class', :format => 'pdf'}, {:class => 'button'} %>
<br/>
<br/>
<hr/>
