<h3>Instructor Resources</h3>

<br/>
<% @user.person.instructor_assignments.each do |instructor_assignment| %>
<%= link_to "Student List For #{instructor_assignment.school_class.chinese_name}(#{instructor_assignment.school_class.english_name})",
    {:controller => '/admin/grades', :action => 'index'}, {:class => 'button'} %>
<% end %>

<br/>
<hr/>
