<h3>Instructor Resources</h3>

<br/>
<% @person.instructor_assignments_for(SchoolYear.current_school_year).each do |instructor_assignment| %>
  <%= link_to "Student List For #{instructor_assignment.school_class.name}",
      {:controller => '/instruction/school_classes', :action => 'show', :id => instructor_assignment.school_class}, {:class => 'button'} %>
  <br/><br/>
  <% track_event_sign_up_end_date = Date.parse('2012-03-24') %>
  <% if PacificDate.today > Date.parse('2012-03-01') and PacificDate.today < track_event_sign_up_end_date %>
    <%= link_to "Track Event Sign Up For #{instructor_assignment.school_class.name}",
        {:controller => '/activity/track_events', :action => 'sign_up', :id => instructor_assignment.school_class}, {:class => 'button'} %>
    <br/><br/>
  <% elsif PacificDate.today >= track_event_sign_up_end_date and PacificDate.today < Date.parse('2012-05-01') %>
    <%= link_to "Track Event Sign Up Result For #{instructor_assignment.school_class.name}",
        {:controller => '/activity/track_events', :action => 'sign_up_result', :id => instructor_assignment.school_class}, {:class => 'button'} %>
    <br/><br/>
  <% end %>
<% end %>

<br/>
<hr/>
