<h3>Instruction Officer Resources</h3>

<br/>
<%= link_to '班級人數清單', {:controller => '/registration/active_school_classes', :action => 'grade_class_student_count'}, {:class => 'button'} %>
<%= link_to 'Elective Class 人數清單', {:controller => '/registration/active_school_classes', :action => 'elective_class_student_count'}, {:class => 'button'} %>
<br/>

<br/>
<hr/>
