          <div>
            <label for="name"><span style="color:red">*&nbsp;</span>Book Charge For <%=h book_charge_form.grade.name %>:</label>
            <%= text_field_tag "book_charge[#{book_charge_form.id}]", book_charge_form.book_charge, size: 5 %>
          </div>
