<tr>
    <td class="label">Address:</td>
    <td><%=h address.street_address %></td>
  </tr>
  <tr>
    <td class="label">Home Phone:</td>
    <td><%=h address.home_phone %></td>
  </tr>
  <tr>
    <td class="label">Cell Phone:</td>
    <td><%=h address.cell_phone %></td>
  </tr>
  <tr>
    <td class="label">Email:</td>
    <td><%=h address.email %></td>
  </tr>