<% @title = 'Edit Person' %>

<div class="account-form">
  <%= error_messages_for :person %>

  <% form_for :person do |form| %>
    <fieldset>
        <legend>Edit Person</legend>
        <span class="person-edit">
          <%= render :partial => 'person_form', :object => form %>
          <span style="color:red">*&nbsp;</span>Required Field
          <div>
            <%= submit_tag 'Save', :class => 'submit' %>
          </div>
        </span>
    </fieldset>
  <% end %>
</div>
