<% @title = 'Person Details' %>

<table class="details-table" border="1px">
  <thead>
    <tr>
      <%= render :partial => 'person_tablehead' %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render :partial => 'person', :object => @person %>
      <td><%= link_to 'Edit', {:action => :edit, :id => @person.id}, {:class => 'button'} %></td>
    </tr>
  </tbody>
</table>
<br/>
<div>
  <%= link_to 'Link to Family', {:action => :find_families_for, :id => @person.id}, {:class => 'button'} %>
</div>
