<% @title = 'Manage Students By Grade' %>
<% @page_javascript = 'registration/student_class_assignments/grade' %>

<table id="jquery-datatable" border="1px">
  <thead>
    <tr>
      <th>English Name</th>
      <th>Chinese Name</th>
      <th>Grade</th>
      <th>Current School Class</th>
      <th>Select New School Class</th>
      <th>Current Elective Class</th>
      <th>Select New Elective Class</th>
      <th>Remove From This Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @grade.student_class_assignments.each do |student_class_assignment| -%>
    <tr>
      <%= render :partial => 'student_class_assignment', :object => student_class_assignment %>
    </tr>
    <% end %>
  </tbody>
</table>
