<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render :partial => 'layouts/html_head_section', :locals => {:page_title => @title, :page_javascript => @page_javascript} %>
  </head>
  <body>
    <%= render :partial => 'layouts/top_bar' %>

    <p id="flash-notice"><%=h flash[:notice] %></p>

    <%= yield :layout %>
  </body>
</html>
