<% @title = 'Active School Classes' %>

<table id="jquery-datatable" border="1px">
  <thead>
    <tr>
      <th>Chinese Name</th>
      <th>English Name</th>
      <th>Location</th>
      <th>Primary Instructor</th>
      <th>Room Parent</th>
      <th>Secondary Instructor</th>
      <th>Teaching Assistant</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @active_school_classes.each do |active_school_class| -%>
    <tr>
      <%= render partial: 'active_school_class', object: active_school_class %>
    </tr>
    <% end %>
  </tbody>
</table>
