<% @title = 'All School Classes' %>
<% @page_javascript = 'admin/school_classes/index' %>

<div>
  <%= link_to 'Create New School Class', {:action => :new}, {:class => 'button'} %>
</div>
<br/>

<table id="jquery-datatable" border="1px">
  <thead>
    <tr>
      <th></th>
      <th>English Name</th>
      <th>Chinese Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Maximum Size</th>
      <th>Minimum Age</th>
      <th>Maximum Age</th>
      <th>Grade</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @school_classes.each do |school_class| -%>
    <tr>
      <%= render :partial => 'school_class', :object => school_class %>
    </tr>
    <% end %>
  </tbody>
</table>
